<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>
    <!-- Metastore Configuration -->
    <property>
        <name>metastore.thrift.uris</name>
        <value>thrift://{{ config.tribench.systems.hive_metastore.docker.service_name }}:{{ config.tribench.systems.hive_metastore.port }}</value>
    </property>
    
    <property>
        <name>metastore.thrift.port</name>
        <value>{{ config.tribench.systems.hive_metastore.port }}</value>
    </property>
    
    <!-- Warehouse Directory -->
    <property>
        <name>metastore.warehouse.dir</name>
        <value>{{ config.tribench.systems.hive_metastore.warehouse_dir }}</value>
    </property>
    
    <!-- PostgreSQL Backend Configuration -->
    <property>
        <name>javax.jdo.option.ConnectionURL</name>
        <value>jdbc:postgresql://{{ config.tribench.systems.postgresql.docker.service_name }}:5432/{{ config.tribench.systems.postgresql.databases.metastore.name }}</value>
    </property>
    
    <property>
        <name>javax.jdo.option.ConnectionDriverName</name>
        <value>org.postgresql.Driver</value>
    </property>
    
    <property>
        <name>javax.jdo.option.ConnectionUserName</name>
        <value>{{ config.tribench.systems.postgresql.databases.metastore.user }}</value>
    </property>
    
    <property>
        <name>javax.jdo.option.ConnectionPassword</name>
        <value>{{ config.tribench.systems.postgresql.databases.metastore.password }}</value>
    </property>
    
    <!-- Schema Verification -->
    <property>
        <name>datanucleus.schema.autoCreateAll</name>
        <value>true</value>
    </property>
    
    <property>
        <name>hive.metastore.schema.verification</name>
        <value>false</value>
    </property>
    
    <!-- Disable Derby specific functions that cause issues with Postgres -->
    <property>
        <name>datanucleus.storeManagerType</name>
        <value>rdbms</value>
    </property>
    
    <!-- S3A Configuration for MinIO -->
    <property>
        <name>fs.s3a.endpoint</name>
        <value>http://{{ config.tribench.systems.minio.docker.service_name }}:{{ config.tribench.systems.minio.port }}</value>
    </property>
    
    <property>
        <name>fs.s3a.access.key</name>
        <value>{{ config.tribench.systems.minio.access_key }}</value>
    </property>
    
    <property>
        <name>fs.s3a.secret.key</name>
        <value>{{ config.tribench.systems.minio.secret_key }}</value>
    </property>
    
    <property>
        <name>fs.s3a.path.style.access</name>
        <value>true</value>
    </property>
    
    <property>
        <name>fs.s3a.connection.ssl.enabled</name>
        <value>false</value>
    </property>
    
    <property>
        <name>fs.s3a.impl</name>
        <value>org.apache.hadoop.fs.s3a.S3AFileSystem</value>
    </property>
    
    <!-- Map s3:// to S3AFileSystem -->
    <property>
        <name>fs.s3.impl</name>
        <value>org.apache.hadoop.fs.s3a.S3AFileSystem</value>
    </property>
    
    <property>
        <name>fs.s3.endpoint</name>
        <value>http://{{ config.tribench.systems.minio.docker.service_name }}:{{ config.tribench.systems.minio.port }}</value>
    </property>
    
    <property>
        <name>fs.s3.access.key</name>
        <value>{{ config.tribench.systems.minio.access_key }}</value>
    </property>
    
    <property>
        <name>fs.s3.secret.key</name>
        <value>{{ config.tribench.systems.minio.secret_key }}</value>
    </property>
    
    <property>
        <name>fs.s3.path.style.access</name>
        <value>true</value>
    </property>
    
    <property>
        <name>fs.s3.connection.ssl.enabled</name>
        <value>false</value>
    </property>
</configuration>
